<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Cripto-Tarea3</title>
  </head>
  <body>
      <div class="container mx-auto mt-4 p-2">
        <div class="card text-center text-white bg-dark">
        <h5 class="card-header">Tarea 3</h5>
        <div class="card-body">
          <p class="card-title">Este sitio contiene un mensaje secreto cifrado con Blowfish modo ECB</p>
            <div class="algorithm text-danger" id={{hash}} style="font-size: 24px;"></div>
        </div>
      </div>
      </div>
  </body>
</html>